.calculator {
  width: 400px;
  border: 5px solid #091e4b;
  border-radius: 30px;
  background: linear-gradient(
    271deg,
    #1251ff 0,
    #1f35ff 39%,
    #2e58ff 61%,
    #4060ff 76%,
    #3d57ff 100%
  );
}
.display {
  font-size: 50px;
  background-color: #fffffff6;
  height: 60px;
  margin: 30px 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 3px solid #080606;
  border-radius: 10px;
}

.button-panel {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;

  & > div {
    div {
      color: black;
      font-size: 35px;
      margin: 5px;
      border: #f0f0f0 2px solid;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    display: flex;
    height: 100px;
  }
}

.button-panel {
  & > div {
    div:hover {
      border: 2px solid #b40c30;
      box-shadow: 1px 2px 15px 7px rgba(16, 25, 28, 0.5);
    }
  }
}
.button-panel {
  & > div {
    div:active {
      color: rgb(252, 252, 252);
      border: 2px solid #ffffff;
      box-shadow: 1px 2px 26px 26px #0e2cc4 inset;
    }
  }
}
